.post {
  padding: 20px;

  .breadcrumbs {
    margin-bottom: 20px;
  }

  &__image {
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #555;
    margin: 10px 0;
  }

  &__content {
    font-size: 15px;
    color: #333;
  }
}