body .admin-post {
  padding: 20px;

  &__fields {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
  }

  &__field {
    width: calc(100% - 20px);
    margin: 0 10px 20px;
  }

  &__image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    display: block;
    cursor: pointer;

    input {
      display: none;
    }
  }

  &__save {
    background: $success;
    color: #fff;

    &:hover {
      background: darken($success, 10%);
    }
  }
}